<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NAVBAR TEMPLATE</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Main Styles -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <div class="mab-container">
        <!-- <NAVBAR> -->
        <div id="mab-header">
            <img id="mab-nav-logo" src="../assets/img/logo.svg">
            <ul id="mab-nav">
                <li class="link-active"><a href="">HOME</a></li>
                <li class=""><a href="">ALL PRODUCTS</a></li>
                <li class=""><a href="">HOODIES</a></li>
                <li class=""><a href="">T-SHIRTS</a></li>
            </ul>
        </div>
        <!-- </NAVBAR> -->
    </div>

</body>
</html>